<template>
    <div>
        <button id="search" class="genric-btn success circle" @click="search(this)">Cari</button>
        <input type="text" name="search" id="search" @change="onChangeCearch">
    </div>
</template>

<script>
import { all } from 'q';
    export default {
        data: function () {
            return {
                searchtext : ''
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods : {
            search (el) {
                window.location = '/faq?search=' + this.searchtext 
            },
            onChangeCearch (el) {
                this.searchtext = el.target.value
            }
        }
    }
</script>
