<template>
    <div>
        <form action="#" v-on:submit.prevent="onSubmit">
            <button id="search" class="genric-btn success circle" @click="search(this)">Cari</button>
            <input type="text" name="search" id="search" v-on:keyup.enter="search(this)" @change="onChangeCearch">
        </form>
    </div>
</template>

<script>
import { all } from 'q';
    export default {
        data: function () {
            return {
                searchtext : ''
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods : {
            search (el) {
                window.location = '/schedule?search=' + this.searchtext 
            },
            onChangeCearch (el) {
                this.searchtext = el.target.value
            }
        }
    }
</script>
